<!DOCTYPE html>
<html>

<head>
  {{>headerLinks}}
</head>

<body>
  {{>navbar}}


  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Contact Us
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <form action="/contact" method="POST">
            <div>
              <input type="text" placeholder="Name" name="name"/>
            </div>
            <div>
              <input type="text" placeholder="Phone Number" name="phone" />
            </div>
            <div>
              <input type="email" placeholder="Email" name="email"/>
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" name="message" />
            </div>
            <div class="d-flex ">
              <button>
                SEND
              </button>
            </div>
          </form>
        </div>
        {{>map}}
  </section>

  <!-- end contact section -->


  {{>info}}
  {{>footer}}

  {{>scripts}}


</body>

</html>