<!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayDateYear"></span> All Rights Reserved By Wajahat Ullah
        
      </p>
    </div>
  </footer>
  <!-- footer section -->