<div class="col-md-6">
          <div class="map_container">
            <div class="map">
              
                <iframe style="width:100%;height:100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3618.5547955983457!2d67.08263757520176!3d24.9131632778949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33f2e4afc93bf%3A0xc36706dfbdacb6b7!2zWnViZXJpIEZhbWlseSBQYXJr25Qg2LLYqNuM2LHbjCDZgduM2YXZhNuMINm-2KfYsdqp!5e0!3m2!1sen!2s!4v1702645686123!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
          </div>
        </div>
      </div>